
/**
 * Anti-tor css file
 */
 
#at_message {
	width: 70%;
	height: 120px;
}

#hidden-options {
	display: none;
}

#at_block_holder {
	display: block;
	margin-top: 15px;
}

.gray {
	font-size: 12px;
	color: #777777;
}

.big-number {
	font-size: 30px;
}

.inline {
	margin-left: 10px;
}
